{% extends 'base.html' %}
{% block content %}
<div class="info">
    <h1 id="main">Star Manager</h1>
    <p class="main-p">
        Это надежный и эффективный бот для модерации бесед в социальной сети ВКонтакте. Наш бот предоставляет вам мощные
        инструменты для управления беседами, обеспечивая порядок и безопасность для всех участников.<br>
        <input class="btn btn-white btn-animate" type="button" onclick="window.open('{{ vk }}');"
               value="Подключить бота"/>
        <br class="btnbr">
    </p>
    <h1 id="premium">О Premium</h1>
    <p class="main-p">
        Premium подписка предоставляет дополнительные возможности для ваших бесед и аккаунта. Приобретая подписку, вы
        получаете доступ к эксклюзивным командам и функциям. Кроме того, приобретая подписку, вы вносите свой вклад в
        поддержание надежной работоспособности бота и его непрерывное совершенствование.<br>
        <input class="btn btn-white btn-animate" type="button" onclick="window.open('{{ vk_preminfo }}');"
               value="Узнать подробнее"/>
        <br class="btnbr">
    </p>

    {% include 'bot_manager/includes/price.html' %}
</div>
{% endblock %}