# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/
.eggs/
pip-wheel-metadata/
src/StarManager/site/static/js/
src/StarManager/site/static/css/
src/StarManager/site/static/media/
src/StarManager/site/static/docs/

# Virtual environments
.venv/
env/
venv/
ENV/

# Logs and local runtime files
*.log
logs/
*.pid
*.sqlite3
src/StarManager/core/media/temp

# dotenv
.env
.env.*

# Aerich migrations
migrations/

# MyPy / Pyright / Pyre / coverage
.mypy_cache/
.pytype/
.pyre/
.coverage
htmlcov/

# IDEs
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.amazonq

# macOS / Linux
.DS_Store
*.swp
*.swo

# Node stuff
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# pyproject build artifacts (PEP 517/518)
__pypackages__/

# local scripts
Makefile
make.local
