.profile {
  display: flex;
  justify-content: center;

  &__menu-members {
    position: absolute;

    margin-left: -570px;
    margin-top: 60px;

    z-index: 11;

    @media (min-width: 1300px) {
      margin-left: -570px;
      margin-top: 60px;
    }

    @media (max-width: 1300px) {
      margin-left: -900px;
      margin-top: 260px;
    }

    &__close-butt {
      @extend .profile__menu-members__setting-butt;

      position: absolute;

      margin-top: -52px;
      margin-left: 558px;

      @media (max-width: 1300px) {
        display: none;
      }

      &--mobile {
        position: absolute;

        margin-top: -40px;

        padding: 14px 0;

        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;

        border: 2px solid #213d5b;
        border-radius: 14px;

        background: #081019;

        width: 904px;

        @media (min-width: 1300px) {
          display: none;
        }
      }

      &-svg {
        width: 50px;

        opacity: 0.4;

        &--hover {
          width: 50px;

          opacity: 0.8;
        }
      }

      &-message {
        &-first {
          position: absolute;

          margin-top: -48px;

          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;

          color: #56A0F6;

          opacity: 0.5;

          text-align: right;
          margin-left: -168px !important;

          &--hover {
            @extend .profile__menu-members__close-butt-message-first;
            width: 50px;

            opacity: 1;
          }
        }

        &-second {
          @extend .profile__menu-members__setting-butt-message-second;
        }
      }

      &-message {
        &-first {
          width: 150px;
        }
      }
    }

    &__setting-butt {
      @media (max-width: 1300px) {
        display: none;
      }

      &:hover {
        cursor: pointer;
      }

      &-svg {
        width: 50px;

        opacity: 0.4;

        &--hover {
          width: 50px;

          opacity: 0.8;
        }
      }

      &-message {
        &-first {
          position: absolute;

          margin-top: -48px;
          margin-left: 64px;

          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;

          color: #56A0F6;

          opacity: 0.5;

          &--hover {
            @extend .profile__menu-members__setting-butt-message-first;

            opacity: 1;
          }
        }

        &-second {
          margin-top: 2px;
        }
      }
    }

    &__lists {
      overflow-x: hidden;

      scrollbar-width: none;
      -ms-overflow-style: none;

      margin-top: 20px;

      position: absolute;
      width: 604px;
      height: 758px;

      background: #081019;
      border: 2px solid #1F364D;
      box-shadow: 0 0 250px #000812;
      border-radius: 15px;

      @media (min-width: 1300px) {
        width: 604px;
        height: 758px;
      }
      
      @media (max-width: 1300px) {
        width: 900px;
        height: 1300px;
      }

      &-users {
        @media (min-width: 1300px) {
          margin-top: 140px;
          margin-left: -28px;
        }

        @media (max-width: 1300px) {
          margin-top: 190px;
          margin-left: -28px;
        }
      }

      @mixin member-role($color) {
        border: 1px solid $color;

        margin-top: 6px;

        background: #081018;

        @media (min-width: 1300px) {
          border-radius: 15px;

          width: 576px;
          height: 71px;
        }

        @media (max-width: 1300px) {
          border-radius: 24px;

          width: 864px;
          height: 114px;
        }

        .profile__menu-members__lists-member-text-root {
          color: $color !important;
        }

        .profile__menu-members__lists-member-more {
          path {
            fill: $color !important;
          }
        }
      }

      @mixin premium() {
        border: 1px solid #FEB742;

        margin-top: 6px;

        background: rgba(254, 183, 66, 0.16);

        @media (min-width: 1300px) {
          border-radius: 15px;

          width: 576px;
          height: 71px;
        }

        @media (max-width: 1300px) {
          border-radius: 24px;

          width: 864px;
          height: 114px;
        }

        .profile__menu-members__lists-member-text-root {
          color: #FEB742 !important;
        }

        .profile__menu-members__lists-member-more {
          path {
            fill: #FEB742 !important;
          }
        }
      }

      // === ОСНОВНОЙ КЛАСС ===
      .profile__menu-members__lists-member {
        margin-top: 6px;

        background: #081018;

        border: 1px solid #1F364D;
        border-radius: 15px;

        @media (min-width: 1300px) {
          border-radius: 15px;

          width: 576px;
          height: 71px;
        }

        @media (max-width: 1300px) {
          border-radius: 24px;

          width: 864px;
          height: 114px;
        }

        // === МОДИФИКАТОРЫ РОЛЕЙ ===
        &--beholder       { @include member-role(#7AE864); }
        &--moderator      { @include member-role(#62A9E4); }
        &--senior-moderator { @include member-role(#6475E9); }
        &--administrator { @include member-role(#673AB7); }
        &--special-administrator { @include member-role(#F35F91); }
        &--director       { @include member-role(#F1845C); }
        &--owner       { @include member-role(#B05CF1); }
        &--dev            { @include member-role(#F15C5E); }
        &--premium            { @include premium(); }

        // === ВЛОЖЕННЫЕ ЭЛЕМЕНТЫ ===

        &-more {
          position: absolute;

          @media (min-width: 1300px) {
            margin-top: -50px;
            margin-left: 520px;

            width: 38px;
          }

          @media (max-width: 1300px) {
            margin-top: -94px;
            margin-left: 780px;

            width: 70px;
          }

          &:hover {
            cursor: pointer;
          }

          path {
            fill: #1F364D;
          }
        }

        &-text {
          @media (min-width: 1300px) {
            margin-top: -62px;
            margin-left: 80px;
          }

          @media (max-width: 1300px) {
            margin-top: -112px;
            margin-left: 130px;
          }

          &-name {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            color: #FFFFFF;

            @media (min-width: 1300px) {
              font-weight: 500;
              font-size: 14px;
            }

            @media (max-width: 1300px) {
              font-weight: 400;
              font-size: 28px;
            }
          }

          &-root {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            color: #696969;

            @media (min-width: 1300px) {
              font-weight: 500;
              font-size: 14px;

              margin-top: -14px;
            }

            @media (max-width: 1300px) {
              font-weight: 400;
              font-size: 24px;

              margin-top: -24px;
            }
          }
        }

        &-avatar {
          margin-left: 10px;
          margin-top: 8px;

          @media (min-width: 1300px) {
            border-radius: 7px;

            width: 54px;
            height: 54px;
          }

          @media (max-width: 1300px) {
            border-radius: 18px;

            width: 100px;
            height: 100px;
          }
        }

        &s {} // оставлено, если нужно под коллекцию
      }


      &-main {
        &-search {
          position: absolute;

          width: 468px;
          height: 42px;

          background: #081018;
          border: 1px solid #1F364D;
          border-radius: 14px;

          padding-left: 14px;

          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 600;
          color: white;

          @media (min-width: 1300px) {
            font-size: 16px;

            width: 468px;
            height: 42px;

            margin-left: 106px;
            margin-top: 22px;
          }

          @media (max-width: 1300px) {
            font-size: 20px;

            width: 690px;
            height: 58px;

            margin-left: 170px;
            margin-top: 22px;
          }

          &::placeholder {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;

            color: #1F364D;

            @media (min-width: 1300px) {
              font-weight: 600;
              font-size: 16px;
            }

            @media (max-width: 1300px) {
              font-weight: 500;
              font-size: 22px;
            }
          }

          &:focus {
            outline: none;
          }

          &-premium {
            position: absolute;

            width: 160px;
            height: 32px;

            margin-top: 74px;
            margin-left: 430px;

            background: #081018;
            border: 1px solid #1F364D;
            border-radius: 8px;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;

            color: #FFFFFF;

            @media (min-width: 1300px) {
              width: 160px;
              height: 32px;

              margin-top: 74px;
              margin-left: 430px;

              font-size: 14px;
            }

            @media (max-width: 1300px) {
              width: 220px;
              height: 44px;

              margin-top: 106px;
              margin-left: 658px;

              font-size: 18px;
            }

            &:hover {
              cursor: pointer;
            }
          }

          &-sortroot {
            position: absolute;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;

            color: #FFFFFF;

            @media (min-width: 1300px) {
              margin-top: 66px;
              margin-left: 210px;

              font-size: 14px;
            }

            @media (max-width: 1300px) {
              margin-top: 90px;
              margin-left: 360px;

              font-size: 24px;
            }

            &:hover {
              cursor: pointer;
            }

            &-svg {
              @media (min-width: 1300px) {
                padding-left: 6px;

                width: 11px;
              }

              @media (max-width: 1300px) {
                padding-left: 6px;

                width: 16px;
              }
            }
          }

          &-sortnick {
            position: absolute;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;

            color: #FFFFFF;

            @media (min-width: 1300px) {
              margin-top: 66px;
              margin-left: 106px;

              font-size: 14px;
            }

            @media (max-width: 1300px) {
              margin-top: 90px;
              margin-left: 178px;

              font-size: 24px;
            }

            &:hover {
              cursor: pointer;
            }

            &-svg {
              @media (min-width: 1300px) {
                padding-left: 6px;

                width: 11px;
              }

              @media (max-width: 1300px) {
                padding-left: 6px;

                width: 16px;
              }
            }
          }

          &-svg {
            position: absolute;

            @media (min-width: 1300px) {
              margin-left: 554px;
              margin-top: 36px;

              width: 18px;
            }

            @media (max-width: 1300px) {
              margin-left: 830px;
              margin-top: 40px;

              width: 26px;
            }
          }
        }

        &-img {
          position: absolute;

          margin-top: 20px;
          margin-left: 12px;

          border-radius: 18px;

          @media (min-width: 1300px) {
            width: 82px;
            height: 82px;
          }

          @media (max-width: 1300px) {
            width: 140px;
            height: 140px;
          }
        }
      }
    }
  }

  &__background {
    z-index: 10;

    position: fixed;

    margin-top: -100px;

    width: 100%;
    height: 110%;

    background: rgba(10, 14, 18, 0.58);
  }

  .profile__menu-block-mobile {
    margin-top: 600px;

    @media (min-width: 1380px) {
      display: none;
    }

    @media (max-width: 1380px) {
      display: block;
    }

    &__information {
      position: absolute;

      margin-top: -520px;

      &-element {
        margin-top: 18px;

        svg {
          width: 90px;

          display: inline-block;

          padding-right: 12px;
        }

        &--bronze {
          @extend .profile__menu-block-mobile__information-element;

          svg {
            rect {
              stroke: #914400;
            }

            path {
              fill: #914400;
            }
          }

          aside {
            border: 1px solid #914400 !important;

            .profile__menu-block-mobile__information-element-text-second {
              color: #914400;
            }
          }
        }

        &--silver {
          @extend .profile__menu-block-mobile__information-element;

          svg {
            rect {
              stroke: #C0C0C0;
            }

            path {
              fill: #C0C0C0;
            }
          }

          aside {
            border: 1px solid #C0C0C0 !important;

            .profile__menu-block-mobile__information-element-text-second {
              color: #C0C0C0;
            }
          }
        }

        &--gold {
          @extend .profile__menu-block-mobile__information-element;

          svg {
            rect {
              fill: rgba(255, 226, 71, 0.11);
              stroke: #FFE247;
            }

            path {
              fill: #FFE247;
            }
          }

          aside {
            background: rgba(255, 226, 71, 0.11);
            border: 1px solid #FFE247 !important;

            .profile__menu-block-mobile__information-element-text-second {
              color: #FFE247;
            }
          }
        }

        &--platinum {
          @extend .profile__menu-block-mobile__information-element;

          svg {
            rect {
              fill: rgba(185, 242, 255, 0.11);
              stroke: #B9F2FF;
            }

            path {
              fill: #B9F2FF;
            }
          }

          aside {
            background: rgba(185, 242, 255, 0.11);
            border: 1px solid #B9F2FF !important;

            .profile__menu-block-mobile__information-element-text-second {
              color: #B9F2FF;
            }
          }
        }

        &--izumryd {
          @extend .profile__menu-block-mobile__information-element;

          svg {
            rect {
              fill: rgba(80, 200, 120, 0.11);
              stroke: #50C878;
            }

            path {
              fill: #50C878;
            }
          }

          aside {
            background: rgba(80, 200, 120, 0.11);
            border: 1px solid #50C878 !important;

            .profile__menu-block-mobile__information-element-text-second {
              color: #50C878;
            }
          }
        }

        &--almaz {
          @extend .profile__menu-block-mobile__information-element;

          svg {
            rect {
              fill: rgba(77, 235, 251, 0.11);
              stroke: #4DEBFB;
            }

            path {
              fill: #4DEBFB;
            }
          }

          aside {
            background: rgba(77, 235, 251, 0.11);
            border: 1px solid #4DEBFB !important;

            .profile__menu-block-mobile__information-element-text-second {
              color: #4DEBFB;
            }
          }
        }

        &--legend {
          @extend .profile__menu-block-mobile__information-element;

          svg {
            rect {
              fill: rgba(251, 190, 77, 0.11);
              stroke: #FBBE4D;
            }

            path {
              fill: #FBBE4D;
            }
          }

          aside {
            background: rgba(251, 190, 77, 0.11);
            border: 1px solid #FBBE4D !important;

            .profile__menu-block-mobile__information-element-text-second {
              color: #FBBE4D;
            }
          }
        }

        &--premium {
          @extend .profile__menu-block-mobile__information-element;

          svg {
            rect {
              fill: #2D2515;
              stroke: #FEB742;
            }

            path {
              fill: #FEB742;
            }
          }

          aside {
            background: #2D2515;
            border: 1px solid #FEB742 !important;

            .profile__menu-block-mobile__information-element-text-second {
              color: #FEB742;
            }
          }
        }

        &-text {
          display: inline-block;

          position: absolute;

          width: 714px;
          height: 90px;

          background: #10151B;
          border: 1px solid #182C43;
          border-radius: 16px;

          &-first {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            text-align: center;

            color: #FFFFFF;

            margin-top: 12px;
            margin-bottom: 0;
          }

          &-second {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            text-align: center;

            color: #56A0F6;

            margin-top: 6px;
          }
        }

        &s {

        }
      }
    }

    &__menu {

    }

    &__chats {
      position: absolute;
      width: 890px;
      height: auto;

      background: #10151B;
      border: 2px solid #121C28;
      border-radius: 38px;

      margin-top: 80px;

      @media (min-width: 1380px) {
        display: none;
      }

      @media (max-width: 1380px) {
        display: block;
      }

      &-element {
        padding-top: 20px;
        &s {

        }

        &--premium {
          @extend .profile__menu-block-mobile__chats-element;

          .profile__menu-block-mobile__chats-element-backsvg {
            path {
              fill: #2D2414;
              stroke: #FBBE4D;
            }
          }

          .profile__menu-block-mobile__chats-element-text {
            color: #FBBE4D;
          }

          .profile__menu-block-mobile__chats-element-title-button {
            svg {
              path {
                fill: #FBBE4D;
              }

              rect {
                fill: #553802;
              }
            }
          }
        }

        &-text {
          width: 514px;

          margin-top: -78px;
          margin-left: 96px;
          margin-bottom: 0;

          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 26px;

          color: #56A0F6;

          &--members {
            @extend .profile__menu-block-mobile__chats-element-text;

            width: 404px;

            margin-top: -84px;
            margin-left: 0;

            text-align: center;
          }

          &--lvl {
            @extend .profile__menu-block-mobile__chats-element-text;

            width: 404px;

            margin-top: -88px;
            margin-left: 404px;

            text-align: center;
          }
        }

        &-subtext {
          margin-top: 4px;

          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;

          color: white;

          &--members {
            @extend .profile__menu-block-mobile__chats-element-subtext;

            text-align: center;
          }

          &--lvl {
            @extend .profile__menu-block-mobile__chats-element-subtext;

            text-align: center;
          }
        }

        &-title {
          position: absolute;

          margin-top: -187px;
          margin-left: 8px;

          &-button {
            position: absolute;

            width: 184px;

            margin-top: -88px;
            margin-left: 636px;

            svg {
              padding-right: 12px;
            }
          }

          &-avatar {
            width: 80px;
            height: 80px;

            border-radius: 14px;
          }
        }
      }
    }

    &__avatar {
      position: absolute;

      margin-top: -950px;
      margin-left: 276px;

      &-img {
        width: 340px;

        border-radius: 200px;
      }

      &__lvl {
        position: absolute;
        width: 330px;
        height: 330px;

        margin-top: -350px;
        margin-left: -4px;

        background: rgba(0, 118, 255, 0.4);
        border: 8px solid #56A0F6;
        backdrop-filter: blur(2.75px);
        border-radius: 200px;

        &-text {
          position: absolute;

          margin-top: 128px;
          margin-left: 150px;

          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 64px;
          text-align: center;

          color: #FFFFFF;
        }
      }

      &-first {
        position: absolute;

        margin-top: -460px;
        margin-left: 80px;

        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        text-align: center;

        color: #FFFFFF;

        margin-bottom: 0;
      }

      &-second {
        margin-top: 6px;
      }
    }
  }

  &__menu {
    margin-top: 400px;

    &-block {
      &-all {
        @media (min-width: 1380px) {
          width: 70vw;
        }

        @media (max-width: 1380px) {
          display: none;
        }
      }

      &-lvl {
        position: absolute;

        @media (min-width: 1380px) {
          margin-left: 28vw;
          margin-top: -21.4vw;
        }

        @media (max-width: 1380px) {
          display: none;
        }

        &__exp {
          position: absolute;

          z-index: 2;

          @media (min-width: 1380px) {
            margin-left: 5.6vw;
            margin-top: -2vw;

            width: 2.7vw;
          }

          &-text {
            position: absolute;

            z-index: 3;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;

            color: #FFFFFF;

            @media (min-width: 1380px) {
              margin-left: 6.6vw;
              margin-top: -1.4vw;

              font-size: 1.2vw;
            }

            @media (max-width: 1380px) {
              display: none;
            }
          }
        }

        &__avatar {
          @media (min-width: 1380px) {
            width: 14vw;
          }

          @media (max-width: 1380px) {
            display: none;
          }

          clip-path: circle(50%);
        }
      }

      &-name {
        position: absolute;

        left: 50%;
        transform: translate(-50%, -54%);

        @media (min-width: 1380px) {
          margin-top: -3.2vw;
        }

        @media (max-width: 1380px) {
          display: none;
        }

        p {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          text-align: center;

          color: #FFFFFF;

          @media (min-width: 1380px) {
            font-size: 18px;
          }

          @media (max-width: 1380px) {
            display: none;
          }

          margin: 0;
        }
      }

      &-chats-mini {
        position: absolute;
        @media (min-width: 1380px) {
          margin-top: -14vw;
          margin-left: 35px;
        }

        @media (max-width: 1380px) {
          display: none;
        }
      }

      &-reput-mini {
        position: absolute;

        @media (min-width: 1380px) {
          margin-top: -6.3vw;
          margin-left: 35px;
        }

        @media (max-width: 1380px) {
          display: none;
        }
      }

      &-premium-mini {
        position: absolute;

        @media (min-width: 1380px) {
          margin-top: -14vw;
          margin-left: 44vw;
        }

        @media (max-width: 1380px) {
          display: none;
        }
      }

      &-leags-mini {
        position: absolute;

        @media (min-width: 1380px) {
          margin-top: -6.3vw;
          margin-left: 44vw;
        }

        @media (max-width: 1380px) {
          display: none;
        }

        .profile__menu-block-mini-text-second--leags {
          @extend .profile__menu-block-mini-text-second;
        }

        &--bronze {
          @extend .profile__menu-block-leags-mini;

          .profile__menu-block-mini-svg-leags-textbox {
            stroke: #914400;
          }

          .profile__menu-block-mini-svg-leags-icon {
            fill: #914400;
          }

          rect {
            stroke: #914400;
          }

          .profile__menu-block-mini-text-second--leags {
            @extend .profile__menu-block-mini-text-second;

            color: #914400 !important;
          }
        }

        &--silver {
          @extend .profile__menu-block-leags-mini;

          .profile__menu-block-mini-svg-leags-textbox {
            stroke: #C0C0C0;
          }

          .profile__menu-block-mini-svg-leags-icon {
            fill: #C0C0C0;
          }

          rect {
            stroke: #C0C0C0;
          }

          .profile__menu-block-mini-text-second--leags {
            @extend .profile__menu-block-mini-text-second;

            color: #C0C0C0 !important;
          }
        }

        &--gold {
          @extend .profile__menu-block-leags-mini;

          .profile__menu-block-mini-svg-leags-textbox {
            fill: rgba(255, 226, 71, 0.11);
            stroke: #FFE247;
          }

          .profile__menu-block-mini-svg-leags-icon {
            fill: #FFE247;
          }

          rect {
            fill: rgba(255, 226, 71, 0.11);
            stroke: #FFE247;
          }

          .profile__menu-block-mini-text-second--leags {
            @extend .profile__menu-block-mini-text-second;

            color: #FFE247 !important;
          }
        }

        &--plutinum {
          @extend .profile__menu-block-leags-mini;

          .profile__menu-block-mini-svg-leags-textbox {
            fill: rgba(185, 242, 255, 0.11);
            stroke: #B9F2FF;
          }

          .profile__menu-block-mini-svg-leags-icon {
            fill: #B9F2FF;
          }

          rect {
            fill: rgba(185, 242, 255, 0.11);
            stroke: #B9F2FF;
          }

          .profile__menu-block-mini-text-second--leags {
            @extend .profile__menu-block-mini-text-second;

            color: #B9F2FF !important;
          }
        }

        &--almaz {
          @extend .profile__menu-block-leags-mini;

          .profile__menu-block-mini-svg-leags-textbox {
            fill: rgba(77, 235, 251, 0.11);
            stroke: #4DEBFB;
          }

          .profile__menu-block-mini-svg-leags-icon {
            fill: #4DEBFB;
          }

          rect {
            fill: rgba(77, 235, 251, 0.11);
            stroke: #4DEBFB;
          }

          .profile__menu-block-mini-text-second--leags {
            @extend .profile__menu-block-mini-text-second;

            color: #4DEBFB !important;
          }
        }

        &--legend {
          @extend .profile__menu-block-leags-mini;

          .profile__menu-block-mini-svg-leags-textbox {
            fill: rgba(251, 190, 77, 0.11);
            stroke: #FBBE4D;
          }

          .profile__menu-block-mini-svg-leags-icon {
            fill: #FBBE4D;
          }

          rect {
            fill: rgba(251, 190, 77, 0.11);
            stroke: #FBBE4D;
          }

          .profile__menu-block-mini-text-second--leags {
            @extend .profile__menu-block-mini-text-second;

            color: #FBBE4D !important;
          }
        }
      }

      &-mini {
        &-svg {
          @media (min-width: 1380px) {
            width: 24vw;
          }

          @media (max-width: 1380px) {
            display: none;
          }

          &-textbox {
            fill: #10151B;
            stroke: #182C43;
          }

          &-icon {
            fill: #152537;
          }

          &--premium {
            @extend .profile__menu-block-mini-svg;

            .profile__menu-block-mini-svg-textbox {
              fill: #2D2515;
              stroke: #FEB742;
            }

            .profile__menu-block-mini-svg-icon {
              fill: #FEB742;
            }

            rect {
              fill: #2D2515;
              stroke: #FEB742;
            }
          }
        }

        &-text {
          position: relative;

          left: 60%;
          transform: translate(-50%, -54%);

          width: 280px;

          @media (min-width: 1380px) {
            top: -3.5vw;
          }

          @media (max-width: 1380px) {
            display: none;
          }

          &--right {
            @extend .profile__menu-block-mini-text;

            margin-left: -18%;

            &--premium {
              @extend .profile__menu-block-mini-text--right;

              .profile__menu-block-mini-text-second {
                color: #FEB742;
              }
            }
          }

          &-first {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;

            @media (min-width: 1380px) {
              font-size: 1vw;
            }

            @media (max-width: 1380px) {
              display: none;
            }

            text-align: center;

            color: #FFFFFF;
          }

          &-second {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;

            @media (min-width: 1380px) {
              font-size: 1vw;
            }

            @media (max-width: 1380px) {
              display: none;
            }

            text-align: center;

            color: #56A0F6;
          }
        }
      }
    }
  }

  &__chats {
    &-block {
      position: absolute;

      margin-top: 30px;

      background: #10151B;
      border: 2px solid #121C28;
      border-radius: 2.4vw;

      @media (min-width: 1380px) {
        width: 69.8vw;
      }

      @media (max-width: 1380px) {
        display: none;
      }

      &-element {
        padding-top: 6px;

        &--premium {
          @extend .profile__chats-block-element;

          .profile__chats-block-element__title {
            background: #2D2414;
            border: 1px solid #FBBE4D;
          }

          .profile__chats-block-element__users {
            background: #2D2414;
            border: 1px solid #FBBE4D;
          }

          .profile__chats-block-element__owner {
            background: #2D2414;
            border: 1px solid #FBBE4D;
          }

          .profile__chats-block-element__title-svg {
            svg {
              rect {
                fill: #553802;
              }

              path {
                fill: #FBBE4D;
              }
            }
          }

          .profile__chats-block-element__title-text-first {
              color: #FBBE4D;
          }

          .profile__chats-block-element__text-first {
            color: #FBBE4D;
          }
        }
        &__text {
          position: absolute;

          @media (min-width: 1380px) {
            width: 7.5vw;

            margin-left: 1.3vw;
            margin-top: -0.2vw;
          }

          @media (max-width: 1380px) {
            display: none;
          }

          &-first {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            text-align: center;

            margin-bottom: 0;

            color: #56A0F6;

            @media (min-width: 1380px) {
              font-weight: 500;

              font-size: 0.8vw;
            }

            @media (max-width: 1380px) {
              display: none;
            }
          }

          &-second {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            text-align: center;

            margin-top: 0.2vw;

            color: #FFFFFF;

            @media (min-width: 1380px) {
              font-weight: 500;

              font-size: 0.9vw;
            }

            @media (max-width: 1380px) {
              display: none;
            }
          }
        }
        &__title {
          display: inline-block;

          background: #10151B;
          border: 1px solid #182C43;
          border-radius: 15px;

          @media (min-width: 1380px) {
            width: 44.6vw;
            height: 3.4vw;
          }

          @media (max-width: 1380px) {
            display: none;
          }

          &-svg {
            position: absolute;

            @media (min-width: 1380px) {
              margin-top: 0.3vw;
              margin-left: 38.2vw;
            }

            @media (max-width: 1380px) {
              display: none;
            }

            svg {
              @media (min-width: 1380px) {
                padding-right: 0.4vw;
                width: 2.8vw;
              }

              @media (max-width: 1380px) {
                display: none;
              }
            }
          }

          &-avatar {
            position: absolute;

            @media (min-width: 1380px) {
              width: 2.8vw;
              height: 2.8vw;

              margin-top: 0.3vw;
              margin-left: 0.4vw;

              border-radius: 0.4vw;
            }

            @media (max-width: 1380px) {
              display: none;
            }
          }

          &-text {
            position: absolute;

            @media (min-width: 1380px) {
              margin-left: 4vw;
              margin-top: 0.5vw;

              width: 34vw;
            }

            @media (max-width: 1380px) {
              display: none;
            }

            &-first {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 600;
              text-align: left;

              margin: 0;

              color: #56A0F6;

              @media (min-width: 1380px) {
                font-size: 0.8vw;
              }

              @media (max-width: 1380px) {
                display: none;
              }
            }

            &-second {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              text-align: left;

              margin-top: 0.2vw;

              color: #FFFFFF;

              @media (min-width: 1380px) {
                font-weight: 500;
                font-size: 0.9vw;
              }

              @media (max-width: 1380px) {
                display: none;
              }
            }
          }
        }

        &__users {
          display: inline-block;

          background: #10151B;
          border: 1px solid #182C43;
          border-radius: 15px;

          @media (min-width: 1380px) {
            width: 10vw;
            height: 3.4vw;

            margin-left: 0.5vw;
          }

          @media (max-width: 1380px) {
            display: none;
          }
        }

        &__owner {
          display: inline-block;

          background: #10151B;
          border: 1px solid #182C43;
          border-radius: 15px;

          @media (min-width: 1380px) {
            width: 10vw;
            height: 3.4vw;

            margin-left: 0.5vw;
          }

          @media (max-width: 1380px) {
            display: none;
          }
        }

        &s {
          padding: 0;

          @media (min-width: 1380px) {
            margin: 1vw 0;

            margin-left: 2vw;
          }

          @media (max-width: 1380px) {
            display: none;
          }
        }
      }
    }
  }
}