.leaderboard {
  @media (min-width: 1280px) {
    transform: scale(0.8);
  }

  main {
    display: flex;

    justify-content: center;

    margin-top: 160px;

    .leaderboard__title {
      &__first {
        font-family: 'Uni Sans', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 78px;
        text-align: center;

        color: #56A0F6;

        @media (min-width: 1280px) {
          font-size: 72px;
        }
        @media (max-width: 1280px) {
          font-size: 62px;
        }
      }
      &__second {
        color: #FFFFFF;
      }

      &__description {
        margin-top: -30px;

        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        text-align: center;

        color: #ffffff;

        @media (min-width: 1280px) {
          margin-left: 70px;

          width: 950px;

          font-size: 18px;
        }
        @media (max-width: 1280px) {

          font-size: 12px;
        }

        &--main {
          font-weight: 600;

          color: #56A0F6;
        }
      }
    }

    .leaderboard__list {
      position: absolute;

      @media (min-width: 1280px) {
        top: 600px;
      }
      @media (max-width: 1280px) {
        top: 700px;
      }

      &-footerButton {
        margin-top: 46px;

        display: flex;
        justify-content: center;

        button {
          margin-left: 16px;
          margin-bottom: 46px;
        }

        .footerButton {
          background: #10151B;
          border: 1.3px solid #10151B;
          border-radius: 10px;

          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 600;

          color: #FFFFFF;

          &:hover {
            cursor: pointer;
          }

          @media (min-width: 1280px) {
            font-size: 22px;

            padding: 14px 14px;
          }
          @media (max-width: 1280px) {
            font-size: 28px;

            padding: 16px 34px;
          }

          &--disable {
            border: 1.3px solid #10151B;
            border-radius: 10px;

            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;

            background: #0C1115;

            color: #65696A;

            @media (min-width: 1280px) {
              font-size: 22px;

              padding: 14px 14px;
            }
            @media (max-width: 1280px) {
              font-size: 28px;

              padding: 16px 34px;
            }
          }
        }
      }

      &-buttons {
        @media (max-width: 1280px) {
          margin-left: -50px;
        }

        &-lists {

        }

        &__button {
          @media (min-width: 1280px) {
            display: inline-block;
          }
          @media (max-width: 1280px) {
            margin-top: 10px;

            display: flex;
          }
        }

        &__input {
          background: #10151B;
          border: 1px solid #1A212A;

          font-family: 'Montserrat', sans-serif;
          font-style: normal;

          color: #FFFFFF;

          @media (min-width: 1280px) {
            width: 336px;
            height: 44px;

            font-weight: 500;
            font-size: 16px;

            padding-left: 16px;

            border-radius: 8px;
          }
          @media (max-width: 1280px) {
            width: 800px;
            height: 80px;

            font-weight: 400;
            font-size: 28px;

            padding-left: 32px;

            border-radius: 8px;
          }

          &::placeholder {
            color: #474B50;
          }

          &:focus {
            outline: none;
          }
        }

        &__option {
          background: #10151B;
          border: 1px solid #1A212A;

          font-family: 'Montserrat', sans-serif;
          font-style: normal;

          color: #FFFFFF;

          @media (min-width: 1280px) {
            width: 280px;
            height: 44px;

            font-weight: 500;
            font-size: 16px;

            padding-left: 16px;

            border-radius: 8px;
          }
          @media (max-width: 1280px) {
            width: 800px;
            height: 80px;

            font-weight: 400;
            font-size: 28px;

            padding-left: 32px;

            border-radius: 8px;
          }

          &-svg {
            position: absolute;

            @media (min-width: 1280px) {
              width: 14px;

              margin-left: -30px;
              margin-top: 20px;
            }
            @media (max-width: 1280px) {
              width: 24px;

              margin-left: -56px;
              margin-top: 36px;
            }
          }

          &-div {
            display: inline-block;

            @media (min-width: 1280px) {
              margin-left: 12px;
            }
          }
        }
      }

      &-users {
        @media (max-width: 1280px) {
          margin-top: 90px;
        }

        &-lists {

        }

        &__user {
          margin-top: -1px;

          width: 1180px;
          height: 76px;

          background: #10151B;
          border: 1px solid #1A212A;

          @media (min-width: 1280px) {
            width: 1180px;
            height: 76px;
          }
          @media (max-width: 1280px) {
            margin-left: -46px;

            width: 830px;
            height: 100px;
          }

          &--first {
            @extend .leaderboard__list-users__user;

            .leaderboard__list-users__user-top {
              @extend .leaderboard__list-users__user-top;

              background: rgba(251, 190, 77, 0.26);
            }

            .top-number {
              font-weight: 700 !important;

              color: #FBBE4D !important;
            }

            .info-name {
              color: #FBBE4D !important;
            }

            .info-username {
              color: #FBBE4D !important;
            }

            .info-count {
              color: #FBBE4D !important;
            }
          }

          &--second {
            @extend .leaderboard__list-users__user;

            .leaderboard__list-users__user-top {
              @extend .leaderboard__list-users__user-top;

              background: rgb(92, 172, 224, 0.26);
            }

            .top-number {
              font-weight: 700 !important;

              color: #5DADE2 !important;
            }

            .info-name {
              color: #5DADE2 !important;
            }

            .info-username {
              color: #5DADE2 !important;
            }

            .info-count {
              color: #5DADE2 !important;
            }
          }

          &--third {
            @extend .leaderboard__list-users__user;

            .leaderboard__list-users__user-top {
              @extend .leaderboard__list-users__user-top;

              background: rgba(183, 119, 57, 0.26);
            }

            .top-number {
              font-weight: 700 !important;

              color: #B87839 !important;
            }

            .info-name {
              color: #B87839 !important;
            }

            .info-username {
              color: #B87839 !important;
            }

            .info-count {
              color: #B87839 !important;
            }
          }

          &--end {
            @extend .leaderboard__list-users__user;

            border-radius: 0 0 16px 16px;
          }

          &-header {
            @media (min-width: 1280px) {
              width: 1182px;
              height: 76px;
            }
            @media (max-width: 1280px) {
              margin-left: -46px;

              width: 832px;
              height: 80px;
            }

            background: #141A21;

            border-radius: 18px 18px 0 0;

            &-names {
              .lists-tag {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;

                color: #FFFFFF;

                display: inline-block;

                @media (min-width: 1280px) {
                  font-size: 20px;
                }
                @media (max-width: 1280px) {
                  font-size: 24px;
                }
              }

              #Place {
                @media (min-width: 1280px) {
                  margin-top: 6px;
                  margin-left: -12px;
                }
                @media (max-width: 1280px) {
                  margin-top: 4px;
                  margin-left: 1px;
                }
              }

              #Name {
                @media (min-width: 1280px) {
                  margin-left: 180px;
                }
                @media (max-width: 1280px) {
                  margin-left: 170px;

                  display: inline-block;
                }

                #HiddenName {
                  @media (min-width: 1280px) {
                    display: none;
                  }
                  @media (max-width: 1280px) {
                    display: inline-block;
                  }
                }
              }

              #Username {
                @media (min-width: 1280px) {
                  margin-left: 430px;
                }
                @media (max-width: 1280px) {
                  display: none;
                }
              }

              #Count {
                position: absolute;

                width: 160px;

                text-align: center;

                @media (min-width: 1280px) {
                  margin-top: 6px;
                  margin-left: 210px;
                }
                @media (max-width: 1280px) {
                  margin-top: 6px;
                  margin-left: 200px;
                }
              }
            }
          }

          &-top {
            display: flex;

            justify-content: center;
            align-content: center;

            margin-left: 34px;

            /*background: rgba(251, 190, 77, 0.26);*/

            @media (min-width: 1280px) {
              margin-top: 10px;

              width: 56px;
              height: 56px;

              border-radius: 12px;
            }
            @media (max-width: 1280px) {
              margin-top: 10px;

              width: 82px;
              height: 82px;

              border-radius: 18px;
            }

            .top-number {
              margin-top: 14px;

              font-family: 'Yandex Sans Text', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 22px;
              text-align: center;

              color: #ffffff;

              @media (min-width: 1280px) {
                margin-top: 14px;

                font-size: 22px;
              }
              @media (max-width: 1280px) {
                margin-top: 19px;

                font-size: 38px;
              }
            }
          }

          &-info {
            position: absolute;

            @media (min-width: 1280px) {
              margin-top: -56px;
              margin-left: 160px;
            }
            @media (max-width: 1280px) {
              margin-top: -80px;
              margin-left: 160px;
            }

            .info-avatar {
              @media (min-width: 1280px) {
                border-radius: 8px;

                width: 56px;
              }
              @media (max-width: 1280px) {
                border-radius: 18px;

                width: 80px;
              }
            }

            .info-name {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;

              color: #FFFFFF;

              @media (min-width: 1280px) {
                margin-top: -44px;
                margin-left: 78px;

                font-size: 18px;
              }
              @media (max-width: 1280px) {
                margin-top: -74px;
                margin-left: 94px;

                font-size: 28px;
              }
            }
          }

          &-username {
            position: absolute;

            @media (min-width: 1280px) {
              width: 300px;

              margin-top: -56px;
              margin-left: 600px;
            }
            @media (max-width: 1280px) {
              margin-top: -56px;
              margin-left: 252px;
            }

            .info-username {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 600;

              text-align: center;

              color: #FFFFFF;

              @media (min-width: 1280px) {
                font-size: 18px;
              }
              @media (max-width: 1280px) {
                font-size: 22px;
              }
            }

            .info-username a,
            .info-username a:link,
            .info-username a:visited {
              color: inherit;
            }
          }

          &-count {
            position: absolute;

            @media (min-width: 1280px) {
              width: 120px;
              height: 76px;

              margin-top: -66px;
              margin-left: 1000px;
            }
            @media (max-width: 1280px) {
              margin-top: -66px;
              margin-left: 624px;

              display: flex;
              justify-content: center;
              align-items: center;

              text-align: center;

              height: 20px;
              padding: 12px 16px;
              width: 180px;
            }

            .info-count {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;

              color: #FFFFFF;

              @media (min-width: 1280px) {
                text-align: center;

                font-size: 18px;
              }
              @media (max-width: 1280px) {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}

.show-menu-category {
  position: absolute;

  z-index: 10;

  @media (min-width: 1280px) {
    margin-left: -28px;
  }
  @media (max-width: 1280px) {
    margin-top: 84px;
    margin-left: -40px;
  }

  &-lists {
    &-el {
      button {
        background: #10151B;
        border: 1px solid #1A212A;

        font-family: 'Montserrat', sans-serif;
        font-style: normal;

        color: #FFFFFF;

        margin-top: -1px;

        @media (min-width: 1280px) {
          width: 300px;
          height: 44px;

          font-weight: 500;
          font-size: 16px;

          padding-left: 16px;
        }
        @media (max-width: 1280px) {
          width: 836px;
          height: 80px;

          font-weight: 400;
          font-size: 28px;

          padding-left: 32px;
        }

        text-align: left;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}