{% extends 'base.html' %}
{% block content %}
<div class="login info">
    <h1>Авторизация</h1>

    <form class="form-group" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{field.label_tag}}
                <div>{{field}}</div>
            </div>
        {% endfor %}
        <p class="btn-p"><button class="btn btn-log" type="submit">Войти</button></p>
        <p class="btn-p">
            <a href="/login/vk-oauth2" target="_self">
                <button class="btn btn-log" type="button">Вход через VK</button>
            </a>
        </p>
    </form>
</div>

{% endblock %}