{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="lk-nav">
        <nav>
            <ul>
                <li>
                        <a>
                    <button class="lk-btn lk-btn-first" type="button">
                            Профиль
                    </button>
                        </a>
                </li>
                <li>
                        <a>
                    <button class="lk-btn" type="button">
                            Управление
                    </button>
                        </a>
                </li>
                <li>
                        <a>
                    <button class="lk-btn lk-btn-last" type="button">
                            Premium
                    </button>
                        </a>
                </li>
                <li>
                        <a href="{% url 'users:logout' %}">
                    <button class="lk-btn lk-btn-last" type="button">
                            Выход
                    </button>
                        </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="lk-content-container">
        {% block lkcontent %} {% endblock %}
    </div>
</div>

{% endblock %}
