<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Manager</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'bot_manager/css/style.css' %}?{% now "U" %}" />
    <link rel="icon" href="{% static 'bot_manager/materials/shortlogo.png' %}" type="image/x-icon">
</head>
<body>
<div class="menu">
    <nav>
        <a href="{% url 'home' %}"><img src="{% static 'bot_manager/materials/logo.jpg' %}" alt="logo"></a>
        <ul>
            <li>
                <button><a href="{% url 'chats' %}">Чаты</a></button>
            </li>
            <li>
                <button><a href="{{ vk }}" target="_blank">ВКонтакте</a></button>
            </li>
            <li>
                <button><a href="{{ tg }}" target="_blank">Телеграм</a></button>
            </li>
            <li>
            {% if user.is_authenticated %}
                <button><a href="{% url 'users:lk' %}">Личный кабинет</a></button>
            {% else %}
                <button><a href="{% url 'users:login' %}">Вход</a></button>
            {% endif %}
            </li>
        </ul>
    </nav>
</div>
{% block content %} {% endblock %}
</body>
</html>