{% load static %}
{% load tag_library %}
<h1 id="buy" class="price-h1">Прайс-лист</h1>
<p class="price-p">
    *Покупая Premium, вы автоматически соглашаетесь с
    <a href="{% static 'bot_manager/docs/privacy.pdf' %} " target="_blank" style="text-decoration: underline;">
        Политикой обработки персональных данных
    </a> и
    <a href="{% static 'bot_manager/docs/aferta.pdf' %}" target="_blank" style="text-decoration: underline;">
        Афертой
    </a>
</p>
<form action="{% url 'buy' %}" method="post">
    {% csrf_token %}
    <div class="price">
        <div class="price-row">
            <div class="price-col-container">
                <div class="price-col">
                    <ul class="price-ul">
                        <li class="price-li"><a>{{ low }} ₽ <s>{{ low|multiplystr:"1.25" }} ₽</s></a></li>
                        <li class="price-li"><a>30 Дней</a></li>
                    </ul>
                    <input class="btn btn-white btn-animate input-btn price-btn"
                           type="submit" value="Купить" name="{{ low }}"/>
                </div>
            </div>
            <div class="price-col-container">
                <div class="price-col">
                    <ul class="price-ul">
                        <li class="price-li"><a>{{ high }} ₽ <s>{{ high|multiplystr:"1.25" }} ₽</s></a></li>
                        <li class="price-li"><a>180 Дней</a></li>
                    </ul>
                    <input class="btn btn-white btn-animate input-btn price-btn"
                           type="submit" value="Купить" name="{{ high }}"/>
                </div>
            </div>
            <div class="price-col-container">
                <div class="price-col" onclick="">
                    <ul class="price-ul">
                        <li class="price-li"><a>{{ medium }} ₽ <s>{{ medium|multiplystr:"1.25" }} ₽</s></a></li>
                        <li class="price-li"><a>90 Дней</a></li>
                    </ul>
                    <input class="btn btn-white btn-animate input-btn price-btn"
                           type="submit" value="Купить" name="{{ medium }}"/>
                </div>
            </div>
            <div class="price-col-container">
                <div class="price-col" onclick="">
                    <ul class="price-ul">
                        <li class="price-li"><a>{{ premiumchat }} ₽ <s>{{ premiumchat|multiplystr:"1.25" }} ₽</s></a></li>
                        <li class="price-li"><a>Premium-чат</a></li>
                    </ul>
                    {% if error %}
                        {% if error == "chatid" %}
                            <p class="price-p" style="color: #ff0000;">Вы не являетесь участником этой беседы.</p>
                        {% elif error == "chatnone" %}
                            <p class="price-p" style="color: #ff0000;">Введите ID беседы!</p>
                        {% elif error == "chatnoacc" %}
                            <p class="price-p" style="color: #ff0000;">Беседы с данным ID не существует.</p>
                        {% elif error == "chatalready" %}
                            <p class="price-p" style="color: #ff0000;">Данная беседа уже имеет Premium-статус.</p>
                        {% else %}
                            <p class="price-p" style="color: #ff0000;">Неизвестная ошибка.</p>
                        {% endif %}
                    {% endif %}
                    <label class="btn-text">
                        <input class="btn btn-text btn-white btn-animate input-btn price-btn" type="text" value=""
                               name="chatid" minlength="1" maxlength="9" placeholder="Введите ID чата..."/>
                    </label>
                    <input class="btn btn-multiform btn-white btn-animate input-btn price-btn" type="submit"
                           value="Купить" name="{{ premiumchat }}"/>
                </div>
            </div>
        </div>
    </div>
</form>
