body {
    height: 100%;
    font-family: 'Montserrat', serif;
    font-size: 24px;
    background-color: #141416;
    background-image: url("../materials/bnd.jpg");
    margin: 0;
}

input[type=button] {
    border: 1px solid #FFE55C;
}

.menu {
    top: 0;
    position: sticky;
}

.menu nav {
    width: 100%;
    position: sticky;
    background-color: #212121;
    align-items: center;
}

@media only screen and (max-width: 1100px) {
    .menu nav {
        position: relative;
    }
}


.menu nav a {
    height: 100%;
    position: sticky;
    top: 0;
}

.menu nav img {
    padding-left: 0.5%;
    width: 300px;
    height: auto;
}

.menu nav ul {
    margin-top: 0;
    top: 0;
    right: 0;
}

.menu nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 35px;
}


@media only screen and (max-width: 1100px) {
    .menu nav ul {
        padding-inline-start: 15px;
    }
}

.menu nav ul li a {
    text-decoration: none;
}

.menu nav button {
    transition: all 0.3s;
    position: relative;
    width: 125%;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #ffffff;
    float: left;
    top: 5px;
    padding: 10px 25px 10px 25px;
    border-style: none;
    background: transparent;
    border-bottom: 2px solid transparent;
}

.menu nav button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFE55C;
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}

.menu nav button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu nav button:hover {
    color: #FFE55C;
}

@media only screen and (min-width: 1100px) {
    .menu nav {
        top: 0;
    }
    .menu nav ul {
        position: fixed;
    }
}

.info {
    margin-top: -0.5%;
    margin-left: 9.6%;
    margin-right: 9.6%;
    font-size: 20px;
    padding: 0 25px;
    color: #ffffff;
    line-height: 50px;
}

@media only screen and (max-width: 1100px) {
    .info {
        margin-left: 2.6%;
        margin-right: 2.6%;
        font-size: 20px;
        padding: 0 25px;
        color: #ffffff;
        line-height: 50px;
    }
}

.info a, .menu nav a {
    text-decoration: none;
    color: inherit;
}

body h1 {
    line-height: 10px;
    font-size: 200%;
}


@media only screen and (max-width: 1100px) {
    .info h1 {
        padding-top: 50px;
        padding-bottom: 30px;
        font-size: 300%;
    }

    .info p {
        font-size: 150%;
        line-height: 50px;
    }
}

.btnbr {
    content: "";
    margin: 2em;
    display: block;
    font-size: 318.5937%;
}

body p {
    line-height: 30px;
}

.buyfail {
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
    padding: 0 25px;
    color: #ffffff;
    line-height: 50px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #212121;
    background-color: #FFE55C;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    transition: all 0.3s;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 24px;
    padding: 10px 25px 10px 25px;
    margin-top: 1.2%;
    margin-bottom: 1.2%;
    border-style: none;
    background: transparent;
    border-bottom: 2px solid transparent;
    border-radius: 100px;
    color: #FFE55C;
}

.input-btn {
    display: block;
    border: 2px solid #FFE55C;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: transparent;
    border: 1px solid #FFE55C;
}

.btn:hover::after {
    opacity: 0;
}

.btn-animate {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.columns {
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
}

.price-h1 {
    text-align: center;
}

.price-row {
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.btn-text {
    width: 79%;
}

.price-col {
    position: static;
    background: transparent;
    color: #ffffff;
    height: 40%;
    text-align: center;
}

@media only screen and (max-width: 1100px) {
    .price-row {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    .price-col {
        width: 70%;
    }

    .price-li a {
        position: relative;
        bottom: 9px;
    }

    .btn {
        width: 40%;
    }

    .price .btn {
        width: 100%;
        text-align: center;
    }

    .btn-text > input {
        width: 110% !important;
    }

    .btn-text {
        right: 18%;
    }
}

.price-ul {
    list-style-type: none;
    padding-bottom: 11%;
    padding-top: 6%;
    border-radius: 10px;
    border: 2px solid #FFE55C;
    transition: 0.3s;
    -webkit-transition: .3s;
}

.price-col-container:hover .price-ul, .price-col-container:hover .price-btn {
    transform: translateY(-3px);
    color: #212121;
    background-color: #FFE55C;
    -webkit-box-shadow: 0 0 10px #FFE55C;
    box-shadow: 0 0 10px #FFE55C;
}

.price-li {
    height: 30px;
    margin-left: -2em;
}

.price-btn {
    margin: 9.9% auto 0;
}

.price-p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}

@media only screen and (max-width: 1100px) {
    .price-p {
        text-align: center;
        font-size: 4px;
    }
}

.pp-a a {
    text-decoration: underline;
    color: #FFE55C;
}

.clear-a a {
    text-decoration: none;
    color: inherit;
}

.form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.form-input {
    padding: 10px 17px 10px 25px;
    height: 48px;
    width: 50%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 32px;
    line-height: 22px;
    letter-spacing: 1px;
    outline: none;
    color: #FFE55C;
    background-color: #212121;
    border: #FFE55C solid 1px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}


.form-input:focus,
.form-input:active {
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
    border: #FFE55C solid 1px;
}


.login {
    align-items: center;
}

.login h1 {
    text-align: center;
    line-height: 40px;
    font-size: 60px;
}

.login label, .login p {
    line-height: 80px;
    font-size: 40px;
}

.login input, .login p, .login label {
    margin-left: 25%;
}


.lk-btn {
    border-radius: 4px;
    height: 100px;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 50px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: #FFE55C solid 1px;
    background-color: transparent;
    color: #ffffff;
}

.lk-btn:active,
.lk-btn:focus {
    background-color: transparent;
    color: #ffffff;
}

.lk-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFE55C;
    background-color: #FFE55C;
}

.lk-btn:link,
.lk-btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    transition: all .2s;
    position: absolute;
}

.lk-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.container {
    overflow: hidden;
    position: absolute;
    display: inline;
    top: 55%;
    left: 50%;
    width: 80%;
    height: 89%;
    transform: translate(-50%, -50%);
    background-color: #141414;
}


.lk-nav {
    display: inline-block;
    z-index: 1;
    left: 0;
    overflow: hidden;
    position: relative;
    float: left;
    top: 0;
    width: fit-content;
    height: 100%;
    border-right: 1px solid #000000;
}


.lk-content-container {
    display: inline-block;
    position: relative;
    width: 83%;
    height: 100%;
}

.lk-content-container h1 {
    margin-top: 100px;
    text-align: center;
    color: #ffffff;

}

.lk-nav nav {
    height: 100%;
}

.lk-nav a {
    text-decoration: none;
    color: #ffffff;
}

.lk-nav li {
    list-style-type: none;
    background-color: #141414;
    padding: 0;
    width: 100%;
    border: 1px solid #000000;
    border-right: none;
}

.lk-nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #141414;
}

.lk-nav button {
    background: #141414;
    width: 100%;
    padding: 20px 30px;
    margin-right: 1px;
    border: none !important;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 24px;
    cursor: pointer;
}

.lk-nav button:hover {
    color: #FFE55C;
    background: #141414;
}


.site-wrap {
    margin-bottom: 190px;
}


footer {
    z-index: 1;
    left: 0;
    overflow: hidden;
    display: block;
    position: absolute;
    height: 190px;
    width: 100%;
    color: #ffffff;
    background-color: #181818;
}

.footer-container {
    padding: 40px;
    display: inline;
}

.footer-container a {
    text-decoration: underline #ffffff;
    color: #ffffff;
}

.contact {
    padding-left: 15px;
    float: left;
}

.privacy {
    margin-left: 100px;
    padding-left: 15px;
    float: left;
}

.footer-data {
    padding-right: 15px;
    float: right;
}

.chats-container {
    padding-left: 3%;
    padding-right: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.chats-block {
    width: 100%;
    display: inline-block;
}

.chats-h1  {
    width: 100%;
    line-height: 100%;
    text-align: center;
    font-size: 120%;
    color: #FFFFFF;
}

.h1-premium {
    color: #FFE55C!important;
}

.chats {
    float: left;
    width: 100%;
    height: 80vh;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: #272727;
    outline: 4px solid #FFFFFF;
    border-radius: 5px;
    overflow-y: auto;
    position: relative;
}

.chats::-webkit-scrollbar {
  width: 5px;
}

.chats::-webkit-scrollbar-track {
  background-color: #a9a9a9;
}

.chats::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chat {
    padding: 10px 5px 5px 10px;
    border-bottom: 1px solid #000000;
}

.chat img {
    width: 80px;
    border-radius: 15%;
    outline: 2px solid #FFFFFF;
}

.chat-info-photo-premium {
    outline: 2px solid #FFE55C !important;
}

.premium-border {
    outline: 4px solid #FFE55C;
    border-radius: 5px;
}

.chat-info {
    overflow-y: visible;
    color: #DCDCDC;
    vertical-align: top;
    display: inline-block;
    width: 80%;
    height: 80px;
    margin-left: 10px;
}

.chat-info h1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: 24px;
    height: 22px;
    padding-top: 6px;
    margin-top: 0;
    margin-bottom: -10px;
}

.chat-info p {
    font-size: 16px;
    color: #C0C0C0;
    vertical-align: top;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 49%;
    display: inline-block;
}

.chat-info a {
    display: flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    height: 25px;
    text-align: center;
    border-radius: 5px;
}

.chat-info a > p {
    text-align: center;
    flex: 0 0 120px;
    color: #000000;
}

.chat-info-join {
    background: #FFFFFF;
}

.chat-info-join-premium {
    background: #FFE55C;
}

@media only screen and (max-width: 1100px) {
    .chat {
        height: 9.5%;
    }
    .chats-h1 {
        margin-bottom: 100px;
        height: 1px;
    }
    .chat-info {
        float: right;
        margin-top: -90px;
        width: 102%;
        margin-left: 0;
    }
    .chat-info h1 {
        font-size: 120%;
        margin-bottom: 0;
        margin-top: 15px;
        height: 50%;
    }
    .chat-info p {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 80%;
    }
    .chat-info p, .chat-info h1 {
        float: right;
        width: 65%;
        height: 20px;
    }
    .chat-info a {
        width: 100%;
        margin-top: 10px;
        height: 80%;
        float: left;
    }
    .chat-info a > p {
        font-size: 100%;
        width: 100%;
        margin-bottom: 10px;
    }
}
